* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3e3e3e;
  color: #e3e3e3;
  font-family: monospace, sans-serif;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: block;
  text-align: center;
  font-weight: 900;
  margin: 1.5rem 0;
  font-size: 5rem;
  text-shadow: 2px 4px 4px lightcoral;
}
h1 {
  font-weight: bold;
  color: lightcoral;
  text-transform: uppercase;
  overflow: hidden;
  border-bottom: 1px dashed #fff;
  margin: 0 0.5rem;
}
.search-form {
  position: sticky;
  top: 0;
  z-index: 900;
  min-height: 10vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.search-bar {
  width: 50%;
  padding: 1rem;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  border-left: 1px solid #3e3e3e;
  border-right: none;
  transition: 300ms ease;
  border-bottom-left-radius: 25px;
}
.search-bar:focus {
  box-shadow: 4px 4px 20px rgba(240, 128, 128, 0.76),
    -4px -4px 20px rgba(240, 128, 128, 0.76);
  border: none;
}
.search-bar:focus + .search-button {
  box-shadow: 4px 4px 20px rgba(240, 128, 128, 0.76),
    -4px -4px 20px rgba(240, 128, 128, 0.76);
  border: none;
}
.search-button {
  border: none;
  padding: 1rem 2rem;
  background: lightcoral;
  color: #e3e3e3;
  transition: 200ms ease;
  cursor: pointer;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
  border-right: 1px solid #3e3e3e;
  border-left: none;
  border-bottom-right-radius: 25px;
}
.search-button:hover {
  color: lightcoral;
  background: #e3e3e3;
}
.search-button:active {
  background: rgb(240, 87, 87);
}
.recpie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
}
.each-recpie {
  width: 300px;
  min-height: 500px;
  text-align: center;
  margin: 1rem;
  /* border: 3px solid #e3e3e3; */
  background-color: #616161;
  box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px 30px 5px;
  overflow: hidden;
}
.each-recpie:hover img {
  filter: blur(3px) grayscale(50%);
  opacity: 0.5;
}
.list {
  width: 300px;
  min-height: 500px;
  text-align: center;
  margin: 1rem;
  padding: 1rem 3rem;
  /* border: 3px solid #e3e3e3; */
  background-color: #616161;
  box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px 30px 5px;
  overflow: hidden;
  transition: 400ms ease;
  text-align: left;
  position: relative;
}
img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  transition: 250ms ease;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.img-button,
.close-button {
  display: inline-block;
  padding: 1rem 2.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  z-index: 1;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.img-button:after,
.close-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lightcoral;
  border-radius: 10rem;
  z-index: -2;
}
.img-button:before,
.close-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(240, 87, 87);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.img-button:hover:before,
.close-button:hover:before {
  width: 100%;
}

.each-recpie:hover .img-button {
  position: absolute;
  opacity: 1;
  text-align: center;
}
.close-button {
  opacity: 1;
  position: relative;
  transform: translateX(-75%);
}
.ingredient-show {
  position: absolute;
  font-size: 12px;
  width: 100%;
  height: 100%;
  padding: 0.2rem 2.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.466);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.allergies {
  margin-top: 1rem;
}
ul li {
  list-style-type: none;
}
.nutfree {
  color: lightgreen;
  font-weight: bold;
}
.each-recpie + div {
  height: 100%;
}
h3 {
  margin: 2rem 0 0.5rem 0;
}
a {
  text-decoration: none;
  font-size: 1rem;
}
a:link {
  color: rgb(255, 204, 157);
}
a:visited {
  color: rgb(255, 177, 103);
}
a:hover {
  cursor: pointer;
  font-size: 1.15rem;
  transition: 400ms ease-out;
}
